@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}
a{
  text-decoration: none ;
  color:#fff;
  transition:0.3s; 
}
ul{
  list-style:none;
}
img{
  max-width: 104%;
  padding-right: 9px;
}
body{
  font-family: 'Lexend', sans-serif;
  font-size:16px;
  line-height:24px; 
  background-color:#202020;
}
.container{
  width: 1170px;
  margin:auto;
}

.containerr{
  width: 1170px;
  margin:auto;
}



      /*---------------------------Header---------------------------*/

.header-area{
  padding:25px 0;
  transition: padding .3s;
}

.header-area.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #202020;
  padding: 5px;
}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  /* padding-bottom: 2rem; */
} 
.logo {
  display: flex;
  align-items: center;
  position: relative; 
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
}

.logo .fa-bolt {
  color: #fed700;
  font-size: 19.5px;
  position: absolute; 
  top: 60%;
  left: 100%; 
  transform: translate(-50%, -50%); 
  z-index: 1; 
}

.signature {
  width: 100px; 
  height:auto; 
  margin-right: 10px; 
}

.logo h5{
  color: #CC7803;
}

.header ul li:first-child {
  margin-right: auto; 
}  



.header ul{
  display: flex;
  align-items: center; 
}
.header ul li{
  margin: 0 15px;
}
.header ul li a{
  text-transform: capitalize;
  display: block;
}
.header ul li a.active{
  color: #fed700;
} 
.header ul li a:hover{
  color:#fed700;
}
.header .menu_icon{
  color:#fff;
  font-size: 18px;
  cursor: pointer;
  display: none;
  margin-left: 100px;
}


/*---------------------------HomePage--------------------------*/

.FirstElement{
   display:flex;
   justify-content: space-around;
   align-items: center;
   padding-top: 5rem; 
} 

.FirstElement.adjusted-padding {
  padding-top: 40px; 
}

.FirstElement .profile-photo{
  width: 300px;
  height:  300px;
  border-radius: 50%;
  overflow: hidden;
  border: 15px solid #444444;
  box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5)
  
}
.profile-photo .img{
  height: 100px;
  width: 100px;
  

  
}
.FirstElement .profile-photo img:hover{
  transform: scale(1.24);
  padding-right: 9px;
}
.profile-text{
  max-width: 750px;
  display: flex;
  flex-direction: column;
}
.profile-text h5{
  color: #e5e5e5;
  font-size: 14px;
}
.profile-text h1{
  color: #fed700;
  font-size: 3rem; 
}

.profile-text p{
  color:#e5e5e5;
}

.profile-text p::first-letter{
  color: #C9B2E0;
  font-size: 25px;
  font-weight: 500;

}

.profile-text .social i{
  color : #e5e5e5;
  font-size: 18px;
  margin-right: 10px;
  transition: 0.5s;
}
.profile-text .social i:hover{
  color:#fed700;
  transform: rotate(360deg);
}



 /*---------------------------About---------------------------*/

.about-area{
  padding-top: 130px;
  background-color: #202020;
}
.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:50px;
}
.about-content{
  flex-basis: 60%;
}
.about-content h4{
  color: #fed700;
  font-size: 40px;
  line-height: 70px;
  text-transform: capitalize;
}
.about-content ul {
  color:#fff;
  text-align: justify;
}

.about-content ul li {
  list-style-type: disc;
  margin-bottom: 10px;
}

.about-skills{
  flex-basis: 35%;
}
.about-skills ul li{
  border-bottom: 1px dashed #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
}
.about-skills ul li::selection{
  color:#CC7803;
}

.about-skills ul li:last-child{
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}


/*---------------------------Button---------------------------*/

.btn-group{
  margin: 45px 0;
}
.btn-group .btn{
  border-color: #d5d5d5;
  color: #fff;
  background-color: #333;
  padding:12px 25px;
  margin: 5px 0;
  margin-right: 7px;
  border-radius: 30px;
  border: 2px solid #e5e5e5;
  box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}
.btn.active{
  border-color: #fed700;
}


/*---------------------------Education & Internship---------------------------*/

.education-content .row{
  display: flex;
  border-radius: 5px;
  height: 400px;
  margin-bottom: 250px;
}

.education-content .title{
  color: #fed700;
}
.education-content .row .education,
.education-content .row .internship
{
  color: #e5e5e5;
  flex:0 0 50%;
  max-width: 50%;
  margin-top: 30px;
} 
.education-content  h3.title{
  font-size:24px;
  margin-bottom: 30px;
  font-weight: 700;
}
.education-content .row.timeline-box{
  flex:0 0 100%;
  max-width: 100%;  
}
.education-content .row .timeline{
  /* background-color:#e5e5e5; */
  padding: 30px 15px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  width: 100%;
  position: relative;
}
.education-content .row .timeline-item{
  position:relative;
  padding-left: 37px;
  padding-bottom: 50px; 
}
.education-content .row  .internship .timeline-item{
  position:relative;
  padding-left: 37px;
  padding-bottom: 30px; 
}
.education-content .row .timeline-item:last-child{
  padding-bottom: 0;
}
.education-content .row .timeline-item::before{
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: #fed700;  
}
.education-content .row .circle-dot{
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #e5e5e5;
}
.education-content .row .timeline-title  {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}
.education-content .row .internship .timeline-title  {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 8px;
}
.education-content .row .timeline-text{
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
}



/*---------------------------Projects---------------------------*/
.project-content{
  padding: 90px 0;
  /* color:#fff;  */
}
.project-title{
  margin-bottom: 60px;
  text-align: center;
}
.project-title h4{
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
  color: #fed700;
  margin-bottom: 20px;
}
.project-title p{
  color: #e5e5e5;
}
.projects{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.project{
    /* padding: 30px 15px; */
    color: #e5e5e5;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    width: 100%;
    position: relative;
    padding: 25px;
    text-align: center;
    flex-basis: 32%;
    transition: .3s;
}
.project i{
  background-color: #fed700;
  width: 60px;
  height: 60px;
  color: #333;
  font-size: 26px;
  line-height: 60px;
  border-radius: 50%;
}
.project h4{
  font-size: 26px;
  text-transform: capitalize;
  margin: 20px 0;
}
.project p{
  text-align: justify;
}
.project:hover{
  border-color: #fed700;
}



/*---------------------------Contact Me---------------------------*/
.contact-content{
  padding: 100px 0;
  color: #fff;
  text-align: center;
}
.contact-content .contact-title h4{
  font-size: 40px;
  text-transform: capitalize;
  color: #fed700;
  padding-bottom: 10px;
}
.contact-content .contact-title p{
  padding-bottom: 20px;
}
.contact{
  max-width: 700px;
  margin: auto;
}
.contact input,.contact textarea{
  width: 100%;
  padding: 15px;
  border: 0;
  margin-bottom: 10px;
  
}

input[type="text"],[type="email"] {
  color: #d8d5dc;
  background: rgba(255, 255, 255, 0.167);
}

.contact .submit{
  width: auto;
  background-color: #fed700;
  padding: 10px 40px;
  font-weight:bold ;
  font-size: 18px;
}
.contact .submit:hover{
  transform: scale(1.1);
  cursor: pointer;
}
#msg{
  color: #fff;
  font-size: 20px;
  margin-top: -8px;
  display: block;
}


.navbar{
  justify-content: space-between;
  margin-left: 300px;
}

.navbar li{
  padding-left: 20px;
}






/*---------------------------Footer---------------------------*/
.footer {
    max-width: 950px;
    margin: 0 auto;
    padding: 15px 0 26px;
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
    color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer .message {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 10px;
  }
  
  .copyright {
    font-size: 12px;
  }




 /*------------------- Responsive Design on small screen -------------------*/

/* Medium layout */
@media only screen and (min-width:1000px) and (max-width:1200px){
  .container{
    width: 970px;
  }
  .containerr{
    width: 970px;
  }
}

@media(max-width:1050px){
  .FirstElement{ 
    flex-direction: column;
    padding-top: 2rem;
  }
  .profile-text{
    padding: 40px 0px;
  }
}



/* tablet layout */
@media only screen and (min-width:768px) and (max-width:999px){
  .container{
    width: 750px;
  } 
  .project-title{
    margin-bottom: 60px;
    text-align: center;
  }
  
}  


/* Mobile Layout */
@media only screen and (max-width:767px){
  .profile-photo{
    position: relative;
    z-index: -1;
  }
  .container{
    width: 350px;
  }
  .project-title h4{
    font-size: 30px;
    margin-bottom: 60px;
    text-align: center;
  }

  .header-area{
    position: sticky;
  }

  .header .menu_icon {
    display: block;
  }

  .navbar{
    padding-top: 10px;
    position: absolute;
    display: block;
    flex-direction: column;
    background-color: #392d41c2;
    margin-left: 500px;
    width: 0%;
    right: 0;
    top: 70px;
    height: 350px;
    padding: 1rem 0;
    transition: all 400ms;
  }

  .navbar li{
    padding-left: 150px;
  }

  .header ul{
    display: block;
    margin-top: 1px;
    margin-bottom: -50px;
    /* display: none;  */
  }

  .header ul li{
    padding-top: 30px;
    /* margin-left: 0px; */
    
  }
  .header i{
    color: #e5e5e5;
    /* padding-top: 50px; */
    padding-left: 50px;
  }

  .header-area{
    padding: 0 2rem;
    background-color: #392D41;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
  }

  .profile-text{
    width: 350px;
  }
  .FirstElement .profile-text p{
    text-align: justify;
  }
  .about{
    flex-direction: column;
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .about-skills{
    width: 100%;
    margin-top: 30px;
  }
  .education-content .row {
    flex-direction: column;
    height: auto;
    margin-bottom: 50px;
  }

  .education-content .row .education,
  .education-content .row .internship {
    flex-basis: 100%;
    max-width: 100%;
    margin-top: 30px;
  }
  .project{
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .certify{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .cert-img{
    height: 220px;
    width: 420px;
    transition: transform 0.3s ease;
  }

}

.certify{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cert-link{
  margin: 10px;
}

.cert-img{
  transition: transform 0.3s ease;
  opacity: 0.6;
}

.cert-link .cert-img:hover{
  transform: scale(1.05);
  cursor:pointer;
  opacity: 1;
}

.cert-img:hover ~ .cert-img{
  opacity: 0.7;  
}

.cert-link:hover .cert-img{
  opacity: 1;
}


.nav-show{
  width: 100%;
  right: 0px;
  
}




/* illustrations */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@-webkit-keyframes carousel-animate {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(200%) scale(0.7);
  }
  3%, 14.2857142857% {
    visibility: visible;
    opacity: 0.8;
    transform: translateX(100%) scale(0.9);
  }
  17.2857142857%, 28.5714285714% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  31.5714285714%, 42.8571428571% {
    visibility: visible;
    opacity: 0.8;
    transform: translateX(-100%) scale(0.9);
  }
  45.8571428571% {
    visibility: visible;
    opacity: 0;
    transform: translateX(-200%) scale(0.9);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-200%) scale(0.7);
  }
}
@keyframes carousel-animate {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(200%) scale(0.7);
  }
  3%, 14.2857142857% {
    visibility: visible;
    opacity: 0.8;
    transform: translateX(100%) scale(0.9);
  }
  17.2857142857%, 28.5714285714% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  31.5714285714%, 42.8571428571% {
    visibility: visible;
    opacity: 0.8;
    transform: translateX(-100%) scale(0.9);
  }
  45.8571428571% {
    visibility: visible;
    opacity: 0;
    transform: translateX(-200%) scale(0.9);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-200%) scale(0.7);
  }
}
:root {
  --light: 0;
  --light: 0;
  --max-width-post: 420px;
  --primary: hsl(
  	calc(64 + 220 * var(--light)),
  	calc(77% - 7% * var(--light)),
  	calc(79% - 56% * var(--light))
  );
  --bg: hsl(
  	calc(284 - 220 * var(--light)),
  	calc(70% + 7% * var(--light)),
  	calc(23% + 56% * var(--light))
  );
  --text-primary: hsl(
  	calc(60 * var(--light)),
  	calc(19% * var(--light)),
  	calc(97% - 89% * var(--light))
  );
  --font-size-sm: clamp(0.7rem, 0.91vw + 0.47rem, 1.2rem);
  --font-size-base: clamp(0.88rem, 1.14vw + 0.59rem, 1.5rem);
  --font-size-md: clamp(1.09rem, 1.42vw + 0.74rem, 1.88rem);
  --font-size-lg: clamp(1.37rem, 1.78vw + 0.92rem, 2.34rem);
  --font-size-xl: clamp(1.71rem, 2.22vw + 1.15rem, 2.93rem);
  --font-size-xxl: clamp(2.14rem, 2.77vw + 1.44rem, 3.66rem);
  --font-size-xxxl: clamp(2.67rem, 3.47vw + 1.8rem, 4.58rem);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  /* background-color: var(--bg); */
  /* width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary); */
  /* overflow: hidden; */
}
@supports (height: 100dvh) {
  body {
    height: 100dvh;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  --container-padding-horizontal: 32px;
  position: relative;
  padding-inline: var(--container-padding-horizontal);
  display: grid;
  place-items: center;
  height: 100%;
}

.carousel {
  pointer-events: none;
  position: absolute;
  -webkit-padding-before: 67px;
          padding-block-start: 67px;
  -webkit-padding-after: max(24px, calc(29px + var(--font-size-md)));
          padding-block-end: max(24px, calc(29px + var(--font-size-md)));
  perspective: 100px;
  width: 100%;
}
@media (max-width: 568px) {
  .carousel {
    -webkit-padding-after: 52px;
            padding-block-end: 52px;
  }
}
.carousel__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 60.8vh;
}
.carousel .item {
  position: absolute;
  max-width: 418px;
  height: 100%;
  margin-inline: var(--container-padding-horizontal);
  opacity: 0;
  will-change: transform, opacity;
  -webkit-animation: carousel-animate 27s cubic-bezier(0.37, 0, 0.63, 1) infinite;
          animation: carousel-animate 27s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}
@media (max-width: 568px) {
  .carousel .item {
    margin-inline: calc(var(--container-padding-horizontal) + 1px);
  }
}
.carousel .item:nth-child(1) {
  -webkit-animation-delay: calc(3.8571428571s * -1);
          animation-delay: calc(3.8571428571s * -1);
}
.carousel .item:nth-child(2) {
  -webkit-animation-delay: calc(3.8571428571s * 0);
          animation-delay: calc(3.8571428571s * 0);
}
.carousel .item:nth-child(3) {
  -webkit-animation-delay: calc(3.8571428571s * 1);
          animation-delay: calc(3.8571428571s * 1);
}
.carousel .item:nth-child(4) {
  -webkit-animation-delay: calc(3.8571428571s * 2);
          animation-delay: calc(3.8571428571s * 2);
}
.carousel .item:nth-child(5) {
  -webkit-animation-delay: calc(3.8571428571s * 3);
          animation-delay: calc(3.8571428571s * 3);
}
.carousel .item:nth-child(6) {
  -webkit-animation-delay: calc(3.8571428571s * 4);
          animation-delay: calc(3.8571428571s * 4);
}

.carousel .item:nth-child(7) {
  -webkit-animation-delay: calc(3.8571428571s * 4);
          animation-delay: calc(3.8571428571s * 4);
}

.carousel .item:nth-child(8) {
  -webkit-animation-delay: calc(3.8571428571s * 4);
          animation-delay: calc(3.8571428571s * 4);
}

.carousel .item:nth-child(9) {
  -webkit-animation-delay: calc(3.8571428571s * 4);
          animation-delay: calc(3.8571428571s * 4);
}
.carousel .item:last-child {
  -webkit-animation-delay: calc(-3.8571428571s * 2);
          animation-delay: calc(-3.8571428571s * 2);
}
.carousel img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.instagram {
  --pading-horizontal: 16px;
  --border: 1px solid var(--primary);
  max-width: var(--max-width-post);
  width: 100%;
  border: var(--border);
  border-radius: 20px;
  margin-right: 12px;
  margin-top: px;
  overflow: hidden;
}
.instagram__header {
  padding-block: 12px;
  border-bottom: var(--border);
}
.instagram__header figure {
  padding-block: 0;
  padding-inline: var(--pading-horizontal);
  margin: 0;
  display: flex;
  align-items: center;
}
.instagram__header figure img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: var(--border);
  -webkit-margin-end: 8px;
          margin-inline-end: 8px;
}
.instagram__media {
  display: flex;
  border-bottom: var(--border);
}
.instagram__media .img {
  width: 100%;
  height: 61.2vh;
}
.instagram__buttons {
  padding-block: 12px;
  padding-inline: var(--pading-horizontal);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.instagram__buttons .left {
  display: flex;
  align-items: center;
}
.instagram__buttons .left svg:nth-of-type(2) {
  margin-inline: 12px;
}
.instagram__icon {
  cursor: pointer;
  width: 1em;
  height: 1em;
  font-size: var(--font-size-md);
  min-width: 24px;
  min-height: 24px;
}
.instagram__icon:hover {
  opacity: 0.7;
}
.instagram__icon path {
  stroke: var(--primary);
  stroke-linejoin: round;
}
.instagram__icon--comment path {
  stroke-width: 2;
}
.instagram__icon--message {
  -webkit-margin-before: 3px;
          margin-block-start: 3px;
}
.instagram__icon--message path {
  stroke-width: 2;
}
.instagram__icon--saved path {
  stroke-width: 2;
}
